public/data/workflows/ai-summarizer-llm-ready.json
{"id":"389ff381eb11","slug":"ai-summarizer-llm-ready","name":"AI Summarizer (LLM-ready)","description":"Template: Resumidor com LLM (pronto para escalar) - Objetivo: Receber texto e gerar resumo com LLM ou fallback local. - Teste r치pido: bash curl -X POST http://<SEUN8N>/webhook/template/ai-summarizer \\ -H 'Content-Type: application/json' \\ -d '{\\\"text\\\":\\\"Escreva um par치grafo longo aqui...\\\"}'  - Produ칞칚o: habilite o n칩 OpenAI e configure credenciais. - Fallback: 'Local Summarize' funciona sem credenciais.","source":"community","quality":5,"sourceUrl":"https://github.com/Zie619/n8n-workflows/blob/main/workflows/Templates/9004_AI_Summarizer_Template_Webhook.json","category":"utilities","categoryName":"Utilities","categoryIcon":"游댋","tags":["summarizer","(llm-ready)","webhook","openai"],"nodes":["n8n-nodes-base.webhook","n8n-nodes-base.stickyNote","n8n-nodes-base.set","@n8n/n8n-nodes-langchain.openAi","n8n-nodes-base.function","n8n-nodes-base.respondToWebhook"],"nodeCount":6,"integrations":[{"name":"Webhook","slug":"webhook","nodeType":"webhook","icon":"webhook","iconType":"simple-icons","iconUrl":"https://cdn.simpleicons.org/webhook/currentColor","brandColor":null},{"name":"OpenAI","slug":"openai","nodeType":"openai","icon":"openai","iconType":"simple-icons","iconUrl":"https://cdn.simpleicons.org/openai/currentColor","brandColor":"#412991"}],"triggerType":"webhook","filePath":"/Volumes/SSD/dev/project/n8n-library/data/raw/n8n-workflows/workflows/Templates/9004_AI_Summarizer_Template_Webhook.json","createdAt":"2025-12-04T14:51:30.801Z","workflow":{"name":"AI Summarizer (LLM-ready)","nodes":[{"id":"ai-0001","name":"Webhook","type":"n8n-nodes-base.webhook","position":[200,300],"webhookId":"d3e4f5a6-b7c8-9d0e-1f2a-bc3456789004","parameters":{"path":"template/ai-summarizer","httpMethod":"POST","responseMode":"responseNode","options":{}},"typeVersion":2},{"id":"ai-0002","name":"Notas & Testes","type":"n8n-nodes-base.stickyNote","position":[-140,80],"parameters":{"color":7,"width":760,"height":380,"content":"## Template: Resumidor com LLM (pronto para escalar)\n\n- Objetivo: Receber texto e gerar resumo com LLM ou fallback local.\n- Teste r치pido:\n```bash\ncurl -X POST http://<SEU_N8N>/webhook/template/ai-summarizer \\\n -H 'Content-Type: application/json' \\\n -d '{\\\"text\\\":\\\"Escreva um par치grafo longo aqui...\\\"}'\n```\n- Produ칞칚o: habilite o n칩 OpenAI e configure credenciais.\n- Fallback: 'Local Summarize' funciona sem credenciais."},"typeVersion":1},{"id":"ai-0003","name":"Prepare Text","type":"n8n-nodes-base.set","position":[460,300],"parameters":{"options":{},"assignments":{"assignments":[{"id":"txt","name":"text","type":"string","value":"={{ $json.body?.text || 'Digite seu texto aqui para resumir.' }}"}]}},"typeVersion":3.4},{"id":"ai-0004","name":"OpenAI (opcional)","type":"@n8n/n8n-nodes-langchain.openAi","position":[720,220],"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"options":{},"messages":{"values":[{"content":"Resuma de forma objetiva o seguinte texto:\n\n{{ $json.text }}"}]}},"typeVersion":1.5,"disabled":true},{"id":"ai-0005","name":"Local Summarize","type":"n8n-nodes-base.function","position":[720,380],"parameters":{"functionCode":"// Fallback simples: truncar e manter frases principais\nconst t = ($json.text || '').trim();\nif (!t) return [{ json: { summary: '' } }];\nconst max = 240;\nconst summary = t.length <= max ? t : t.slice(0, max) + '...';\nreturn [{ json: { summary } }];"},"typeVersion":2},{"id":"ai-0006","name":"Respond","type":"n8n-nodes-base.respondToWebhook","position":[980,380],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"typeVersion":1.1}],"connections":{"Webhook":{"main":[[{"node":"Prepare Text","type":"main","index":0}]]},"Prepare Text":{"main":[[{"node":"Local Summarize","type":"main","index":0}]]},"Local Summarize":{"main":[[{"node":"Respond","type":"main","index":0}]]}}}}