public/data/workflows/analyze-feedback-using-aws-comprehend-and-send-it-to-a-mattermost-channel.json
{"id":"abb72b6f07ef","slug":"analyze-feedback-using-aws-comprehend-and-send-it-to-a-mattermost-channel","name":"Analyze feedback using AWS Comprehend and send it to a Mattermost channel","description":"Connect Mattermost, AWS Comprehend, Typeform and more with this n8n workflow. 5 nodes total.","source":"awesome","quality":4,"sourceUrl":"https://github.com/enescingoz/awesome-n8n-templates/blob/main/Other_Integrations_and_Use_Cases/Analyze%20feedback%20using%20AWS%20Comprehend%20and%20send%20it%20to%20a%20Mattermost%20channel.json","category":"utilities","categoryName":"Utilities","categoryIcon":"🔌","tags":["analyze","feedback","using","aws","comprehend","and","send","mattermost","channel","aws-comprehend","typeform"],"nodes":["n8n-nodes-base.mattermost","n8n-nodes-base.noOp","n8n-nodes-base.if","n8n-nodes-base.awsComprehend","n8n-nodes-base.typeformTrigger"],"nodeCount":5,"integrations":[{"name":"Mattermost","slug":"mattermost","nodeType":"mattermost","icon":"mattermost","iconType":"simple-icons","iconUrl":"https://cdn.simpleicons.org/mattermost/currentColor","brandColor":null},{"name":"AWS Comprehend","slug":"aws-comprehend","nodeType":"awscomprehend","icon":"awscomprehend","iconType":"placeholder","iconUrl":null,"brandColor":null},{"name":"Typeform","slug":"typeform","nodeType":"typeform","icon":"typeform","iconType":"simple-icons","iconUrl":"https://cdn.simpleicons.org/typeform/currentColor","brandColor":null}],"triggerType":"event","filePath":"/Volumes/SSD/dev/project/n8n-library/data/raw/awesome-n8n/Other_Integrations_and_Use_Cases/Analyze feedback using AWS Comprehend and send it to a Mattermost channel.json","createdAt":"2025-12-04T14:51:29.766Z","workflow":{"nodes":[{"name":"Mattermost","type":"n8n-nodes-base.mattermost","position":[810,300],"parameters":{"message":"=You got new feedback with a score of {{$json[\"SentimentScore\"][\"Negative\"]}}. Here is what it says:{{$node[\"Typeform Trigger\"].json[\"What did you think about the event?\"]}}","channelId":"h7cxrd1cefr13x689enzyw7xhc","attachments":[],"otherOptions":{}},"credentials":{"mattermostApi":"Mattermost Credentials"},"typeVersion":1},{"name":"NoOp","type":"n8n-nodes-base.noOp","position":[800,500],"parameters":{},"typeVersion":1},{"name":"IF","type":"n8n-nodes-base.if","position":[600,400],"parameters":{"conditions":{"number":[],"string":[{"value1":"={{$json[\"Sentiment\"]}}","value2":"NEGATIVE"}]}},"typeVersion":1},{"name":"AWS Comprehend","type":"n8n-nodes-base.awsComprehend","position":[400,400],"parameters":{"text":"={{$json[\"What did you think about the event?\"]}}","operation":"detectSentiment"},"credentials":{"aws":"AWS Comprehend Credentials"},"typeVersion":1},{"name":"Typeform Trigger","type":"n8n-nodes-base.typeformTrigger","position":[200,400],"webhookId":"ad8a87ef-d293-4e48-8d36-838d69ebce0f","parameters":{"formId":"DuJHEGW5"},"credentials":{"typeformApi":"typeform"},"typeVersion":1}],"connections":{"IF":{"main":[[{"node":"Mattermost","type":"main","index":0}],[{"node":"NoOp","type":"main","index":0}]]},"AWS Comprehend":{"main":[[{"node":"IF","type":"main","index":0}]]},"Typeform Trigger":{"main":[[{"node":"AWS Comprehend","type":"main","index":0}]]}}}}