public/data/workflows/analyze-the-sentiment-of-feedback-and-send-a-message-on-mattermost.json
{"id":"a3dcfc4356a0","slug":"analyze-the-sentiment-of-feedback-and-send-a-message-on-mattermost","name":"Analyze the sentiment of feedback and send a message on Mattermost","description":"Connect Typeform, Googlecloudnaturallanguage, Mattermost and more with this n8n workflow. 5 nodes total.","source":"awesome","quality":4,"sourceUrl":"https://github.com/enescingoz/awesome-n8n-templates/blob/main/Other_Integrations_and_Use_Cases/Analyze%20feedback%20and%20send%20a%20message%20on%20Mattermost.json","category":"utilities","categoryName":"Utilities","categoryIcon":"🔌","tags":["analyze","the","sentiment","feedback","and","send","message","mattermost","typeform","googlecloudnaturallanguage"],"nodes":["n8n-nodes-base.typeformTrigger","n8n-nodes-base.googleCloudNaturalLanguage","n8n-nodes-base.if","n8n-nodes-base.mattermost","n8n-nodes-base.noOp"],"nodeCount":5,"integrations":[{"name":"Typeform","slug":"typeform","nodeType":"typeform","icon":"typeform","iconType":"simple-icons","iconUrl":"https://cdn.simpleicons.org/typeform/currentColor","brandColor":null},{"name":"Googlecloudnaturallanguage","slug":"googlecloudnaturallanguage","nodeType":"googlecloudnaturallanguage","icon":"googlecloudnaturallanguage","iconType":"placeholder","iconUrl":null,"brandColor":null},{"name":"Mattermost","slug":"mattermost","nodeType":"mattermost","icon":"mattermost","iconType":"simple-icons","iconUrl":"https://cdn.simpleicons.org/mattermost/currentColor","brandColor":null}],"triggerType":"event","filePath":"/Volumes/SSD/dev/vps/107.174.42.198/n8n-library/data/raw/awesome-n8n/Other_Integrations_and_Use_Cases/Analyze feedback and send a message on Mattermost.json","createdAt":"2025-11-30T11:22:26.055Z","workflow":{"id":"133","name":"Analyze the sentiment of feedback and send a message on Mattermost","nodes":[{"name":"Typeform Trigger","type":"n8n-nodes-base.typeformTrigger","position":[510,260],"webhookId":"ad8a87ef-d293-4e48-8d36-838d69ebce0f","parameters":{"formId":""},"credentials":{"typeformApi":"typeform"},"typeVersion":1},{"name":"Google Cloud Natural Language","type":"n8n-nodes-base.googleCloudNaturalLanguage","position":[710,260],"parameters":{"content":"={{$node[\"Typeform Trigger\"].json[\"What did you think about the event?\"]}}","options":{}},"credentials":{"googleCloudNaturalLanguageOAuth2Api":"cloud"},"typeVersion":1},{"name":"IF","type":"n8n-nodes-base.if","position":[910,260],"parameters":{"conditions":{"number":[{"value1":"={{$node[\"Google Cloud Natural Language\"].json[\"documentSentiment\"][\"score\"]}}"}]}},"typeVersion":1},{"name":"Mattermost","type":"n8n-nodes-base.mattermost","position":[1110,160],"parameters":{"message":"=You got a new feedback with a score of {{$node[\"Google Cloud Natural Language\"].json[\"documentSentiment\"][\"score\"]}}. Here is what it says:{{$node[\"Typeform Trigger\"].json[\"What did you think about the event?\"]}}","channelId":"4h1bz64cyifwxnzojkzh8hxh4a","attachments":[],"otherOptions":{}},"credentials":{"mattermostApi":"mattermost"},"typeVersion":1},{"name":"NoOp","type":"n8n-nodes-base.noOp","position":[1110,360],"parameters":{},"typeVersion":1}],"active":false,"settings":{},"connections":{"IF":{"main":[[{"node":"Mattermost","type":"main","index":0}],[{"node":"NoOp","type":"main","index":0}]]},"Typeform Trigger":{"main":[[{"node":"Google Cloud Natural Language","type":"main","index":0}]]},"Google Cloud Natural Language":{"main":[[{"node":"IF","type":"main","index":0}]]}}}}