public/data/workflows/create-update-and-get-a-profile-in-humantic-ai.json
{"id":"471ae2cb50fe","slug":"create-update-and-get-a-profile-in-humantic-ai","name":"Create, update, and get a profile in Humantic AI","description":"Automate Humanticai and HTTP Request with this n8n workflow. manual triggered.","source":"awesome","quality":4,"sourceUrl":"https://github.com/enescingoz/awesome-n8n-templates/blob/main/Other_Integrations_and_Use_Cases/Create%2C%20update%2C%20and%20get%20a%20profile%20in%20Humantic%20AI.json","category":"utilities","categoryName":"Utilities","categoryIcon":"🔌","tags":["create,","update,","and","get","profile","humantic","humanticai","http-request"],"nodes":["n8n-nodes-base.manualTrigger","n8n-nodes-base.humanticAi","n8n-nodes-base.httpRequest"],"nodeCount":5,"integrations":[{"name":"Humanticai","slug":"humanticai","nodeType":"humanticai","icon":"humanticai","iconType":"placeholder","iconUrl":null,"brandColor":null},{"name":"HTTP Request","slug":"http-request","nodeType":"httprequest","icon":"curl","iconType":"simple-icons","iconUrl":"https://cdn.simpleicons.org/curl/currentColor","brandColor":null}],"triggerType":"manual","filePath":"/Volumes/SSD/dev/project/n8n-library/data/raw/awesome-n8n/Other_Integrations_and_Use_Cases/Create, update, and get a profile in Humantic AI.json","createdAt":"2025-12-04T14:51:29.768Z","workflow":{"id":"127","name":"Create, update, and get a profile in Humantic AI","nodes":[{"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[290,300],"parameters":{},"typeVersion":1},{"name":"Humantic AI","type":"n8n-nodes-base.humanticAi","position":[490,300],"parameters":{"userId":"https://www.linkedin.com/in/harshil1712/"},"credentials":{"humanticAiApi":"humantic"},"typeVersion":1},{"name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[690,300],"parameters":{"url":"","options":{},"responseFormat":"file"},"typeVersion":1},{"name":"Humantic AI1","type":"n8n-nodes-base.humanticAi","position":[890,300],"parameters":{"userId":"={{$node[\"Humantic AI\"].json[\"results\"][\"userid\"]}}","operation":"update","sendResume":true},"credentials":{"humanticAiApi":"humantic"},"typeVersion":1},{"name":"Humantic AI2","type":"n8n-nodes-base.humanticAi","position":[1090,300],"parameters":{"userId":"={{$node[\"Humantic AI\"].json[\"results\"][\"userid\"]}}","options":{"persona":["hiring"]},"operation":"get"},"credentials":{"humanticAiApi":"humantic"},"typeVersion":1}],"active":false,"settings":{},"connections":{"Humantic AI":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Humantic AI1","type":"main","index":0}]]},"Humantic AI1":{"main":[[{"node":"Humantic AI2","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Humantic AI","type":"main","index":0}]]}}}}