public/data/workflows/rapid-etl-http-transform-deliver.json
{"id":"ffcf92fa3ae1","slug":"rapid-etl-http-transform-deliver","name":"Rapid ETL: HTTP -> Transform -> Deliver","description":"Template: ETL Rápido (HTTP → Transform → Entregar) - Objetivo: Ingerir dados de uma API, transformar e enviar em lote. - Teste rápido: execute manualmente no Editor. - Fonte demo: jsonplaceholder.typicode.com/posts. - Entrega demo: httpbin.org/post (eco). - Produção: substitua 'Upsert Endpoint' pelo seu DB/API (Sheets, Postgres, etc.).","source":"community","quality":4,"sourceUrl":"https://github.com/Zie619/n8n-workflows/blob/main/workflows/Templates/9002_Rapid_ETL_HTTP_Transform_Deliver_Manual.json","category":"utilities","categoryName":"Utilities","categoryIcon":"🔌","tags":["rapid","etl:","http","transform","deliver","http-request"],"nodes":["n8n-nodes-base.stickyNote","n8n-nodes-base.manualTrigger","n8n-nodes-base.httpRequest","n8n-nodes-base.function"],"nodeCount":5,"integrations":[{"name":"HTTP Request","slug":"http-request","nodeType":"httprequest","icon":"curl","iconType":"simple-icons","iconUrl":"https://cdn.simpleicons.org/curl/currentColor","brandColor":null}],"triggerType":"manual","filePath":"/Volumes/SSD/dev/project/n8n-library/data/raw/n8n-workflows/workflows/Templates/9002_Rapid_ETL_HTTP_Transform_Deliver_Manual.json","createdAt":"2025-12-04T14:51:30.804Z","workflow":{"name":"Rapid ETL: HTTP -> Transform -> Deliver","nodes":[{"id":"mtr-0001","name":"Notas & Testes","type":"n8n-nodes-base.stickyNote","position":[-160,80],"parameters":{"color":7,"width":760,"height":360,"content":"## Template: ETL Rápido (HTTP → Transform → Entregar)\n\n- Objetivo: Ingerir dados de uma API, transformar e enviar em lote.\n- Teste rápido: execute manualmente no Editor.\n- Fonte demo: jsonplaceholder.typicode.com/posts.\n- Entrega demo: httpbin.org/post (eco).\n- Produção: substitua 'Upsert Endpoint' pelo seu DB/API (Sheets, Postgres, etc.)."},"typeVersion":1},{"id":"mtr-0002","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","position":[200,280],"parameters":{},"typeVersion":1},{"id":"mtr-0003","name":"Fetch Data","type":"n8n-nodes-base.httpRequest","position":[460,280],"parameters":{"url":"https://jsonplaceholder.typicode.com/posts","method":"GET","options":{}},"typeVersion":4.2},{"id":"mtr-0004","name":"Transform","type":"n8n-nodes-base.function","position":[720,280],"parameters":{"functionCode":"// Keep top 10 posts and map fields\nconst data = Array.isArray(items[0].json) ? items[0].json : [];\nreturn data.slice(0, 10).map(post => ({ json: { id: post.id, title: post.title, userId: post.userId } }));"},"typeVersion":2},{"id":"mtr-0005","name":"Upsert Endpoint","type":"n8n-nodes-base.httpRequest","position":[980,280],"parameters":{"url":"https://httpbin.org/post","method":"POST","specifyBody":"json","sendBody":true,"jsonBody":"={{ $json }}","options":{"retryOnFail":true,"maxRetries":2}},"typeVersion":4.2}],"connections":{"Manual Trigger":{"main":[[{"node":"Fetch Data","type":"main","index":0}]]},"Fetch Data":{"main":[[{"node":"Transform","type":"main","index":0}]]},"Transform":{"main":[[{"node":"Upsert Endpoint","type":"main","index":0}]]}}}}